button{

    background-color: black;
    border: 1px solid yellow;
    padding: 30px;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    width: 10%;
    margin-left:45%;
    margin-top:2%;
    font-size:20px;
}

button:hover{

    background-color: black;
    color: white;

}

