.navc{
    text-align: center;
    color:brown;
}

.bg{
    color :black;
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.Img{
    margin-left: 30%;
}

.Font{
    color:black;
    text-align: center;
    font-size: 20px;
  }

  .Imgs{
    
    width: 100%;

  }

  .button{
    margin-left: 35%;
  }

  .container{
    width: 15em;
    margin: 0 0.2em;
    float: left;
}