

.App-logo{
  height:400px;
  margin-left:30%;
}

.nav{
  color:red;
  text-align: center;
}

.navb{
  color:blue;
  text-align: center;
  font-size: 22px;
}

.img{
 text-align: center;
}

.img-app{
  margin-left: 40%;
}

